.button-close {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    padding: 0;
    position: relative;
    border: none;  
}

.button-close::before, .button-close::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    transform: rotate(45deg);
    width: 63%;
    height: 1px;
    background-color: black;
}

.button-close::after {
    transform: rotate(-45deg);
}

@media (min-width: @desktop-width) {
    .button-close {
        width: 18px;
        height: 18px;
        background-color: transparent;
    }

    .button-close::before, .button-close::after {
        width: 140%;
        left: -20%;
    }
}