.gallery {
    display: grid;
    padding-bottom: 50px;
}

.gallery__img-container {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    padding: 0;
    border: 0;
    overflow: hidden;
    position: relative;
}

.gallery__img {
    width: 100%;
    display: block;
}

@media (min-width: @desktop-width) {
    .gallery {
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(3, 29.817vw);
        grid-template-rows: repeat(2, 18.489vw);
        grid-row-gap: 3.9vw;
    }

    .gallery__img-container {
        margin: 0;
        cursor: pointer;
    }

    .gallery__img {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
    }
}

@media (min-width: @wrapper-max-width) {
    .gallery {
        grid-template-columns: repeat(3, calc(29.817*@wrapper-max-width/100));
        grid-template-rows: repeat(2, calc(18.489*@wrapper-max-width/100));
        grid-row-gap: calc(3.9*@wrapper-max-width/100);
    }
}