.gallery {
    display: flex;
    
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;  //ВРЕМЕННО
    // display: grid;  
    // grid-gap: 5px;  
    // grid-template-columns: repeat(auto-fit, 100px);
    // grid-template-rows: repeat(2, 100px);  
}

.gallery__img-container {
    width: 100%;
    // max-width: 400px;
    height: auto;
    margin-bottom: 30px;
    padding: 0;
    border: 0;
    overflow: hidden;
    position: relative;
}

.gallery__img {
    width: 100%;
    display: block;
}

@media (min-width: @desktop-width) {
    .gallery {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .gallery__img-container {
        width: 229px;
        height: 142px;
        margin: 15px 0; //ВРЕМЕННО
        cursor: pointer;
    }

    .gallery__img {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
    }
}